/* Use a mobile-first approach */
/* Default styles for all screens */
body {
  margin: 0;
  font-size: 16px; /* 1rem = 16px */
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background: teal;
}

.nav-brand {
  color: white;
  font-size: 1.5rem;
}

.nav-link {
  color: white;
}

.title {
  text-align: center;
  margin-top: 3%;
  font-size: 3rem;
}

.first-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Use min-height instead of height */
  width: 100%;
  padding: 2rem; /* Add some padding to all sides */
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  border-radius: 25px;
  width: 60vw; /* Use percentages instead of fixed pixels */
  max-width: 50vw; /* Add a max-width for larger screens */
  margin: 2rem 0;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.text-container {
  width: 100%;
  height: 10vh;
  border: solid 1px black;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 2% 0;
  padding: 0.5rem; /* Add some padding to all sides */
  text-indent: 2%;
}

input:focus {
  outline: none;
}

.btn {
  border: solid 1px black;
  border-radius: 25px;
  width: 100%;
  max-width: 300px; /* Add a max-width for larger screens */
  height: 5vh;
  margin: 2vh 0;
  font-size: 1.5rem;
  font-weight: 300;
}

.btn:hover {
  background-color: teal;
  color: white;
}

.answer-container {
  width: 50vw;
  max-width: 70vw; /* Add a max-width for larger screens */
  height: auto;
  border: solid 1px black;
  border-radius: 25px;
  margin: 2vh 0;
  padding: 2rem;
  font-weight: 300;
  overflow: hidden;
}

.answer {
  margin: 2vh 0;
  font-size: 1rem;
  line-height: 1.7;
}

.about-title {
  text-align: center;
  margin-top: 6%;
  font-size: 3rem;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px; /* Add a max-width for larger screens */
  height: auto;
  border: solid 1px black;
  border-radius: 25px;
  margin: 2vh 0;
  padding: 2rem;
  overflow: hidden;
  overflow-y: scroll;
}

.about-text,
.about-text2 {
  margin: 2vh 0;
  padding: 2vh 0;
  line-height: 1.7;
}

.about-text2 {
    font-size: 1.2rem;
    font-weight: bold;
    }
    
    .contact-link {
    text-decoration: none;
    color: black;
    padding: 1vh;
    }
    
    .contact-title {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;
    border: solid 1px;
    border-radius: 15px;
    padding: 2vh;
    }
    
    .contact-title:hover {
    background-color: teal;
    color: white;
    }
  
    @media only screen and (max-width: 768px) {
      .form-container, .answer-container, .first-container {
        width: 95%;
        max-width: none;
      }
    }
    
